* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background: #000000;
}

nav {
  background: #141416;
  display: flex;
  color: white;
  align-items: center;
  font-family: SanFrancisco;
  border-bottom: 1px solid grey;
  height: 90px;
}

nav img {
  height: 40px;
  width: 40px;
  margin-left: 100%;
}

.menu {
  display: flex;
  gap: 2%;
  width: 100%;
  margin-left: 70%;
}
.div7 {
  display: none;
}
.app-description {
  width: auto;
  color: white;
  text-align: center;
  justify-content: center;
}
.app-description h1 {
  font-family: SanFranciscoHeadline;
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.app-description .text {
  font-family: SanFranciscoParagraph ;
  text-align: center;
  width: 45%;
  height: auto;
  margin: 0 auto;

}
.phones {
  display: flex;
  color: #000000;
}
.function {
  border: 1px solid wheat;
  margin:  2% auto 0 auto;
}
.function .svg_logo {
  width: 100%;
  height: 75px;
  position: relative;
  bottom: 52%;
  left: 2px;
}

@font-face {
  font-family: SanFrancisco;
  src: url(Fonts/SFNSDisplay-Black.otf);
}
@font-face {
  font-family: SanFranciscoHeadline;
  src: url(Fonts/SFNSDisplay-Bold.otf);
}
@font-face {
  font-family: SanFranciscoParagraph;
  src: url(Fonts/SFNSText-Light.otf);
}

@media screen and (max-width: 1658px) {
  .menu {
    margin-left: 61%;
    transition: 0.01s ease-in-out;
  }
}
@media screen and (max-width: 1335px) {
  .menu .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6 {
    display: none;
  }
  .menu {
    flex-wrap: wrap;
  }
  .div7 {
    display: block;
    transform: translateX(-40px);
  }
}
