* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
}

nav {
  background: #141416;
  display: flex;
  color: white;
  align-items: center;
  font-family: SanFrancisco;
  border-bottom: 1px solid grey;
  height: 90px;
}

nav img {
  height: 40px;
  width: 40px;
  margin-left: 100%;
}

.menu {
  display: flex;
  gap: 2%;
  width: 100%;
  margin-left: 70%;
}
.div7 {
  display: none;
}
.app-description {
  background: #000000;
  width: auto;
  height: 100vh;
  color: white;
  text-align: center;
}
.app-description h1 {
  font-family: SanFranciscoHeadline;
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.app-description p {
  font-family: SanFranciscoParagraph ;
  color: white;
  text-align: center;

}
.phones img {
  height: 100px;
  width: 100px;
}

@font-face {
  font-family: SanFrancisco;
  src: url(Fonts/SFNSDisplay-Black.otf);
}
@font-face {
  font-family: SanFranciscoHeadline;
  src: url(Fonts/SFNSDisplay-Bold.otf);
}
@font-face {
  font-family: SanFranciscoParagraph;
  src: url(Fonts/SFNSText-Light.otf);
}

@media screen and (max-width: 1658px) {
  .menu {
    margin-left: 61%;
    transition: 0.01s ease-in-out;
  }
}
@media screen and (max-width: 1335px) {
  .menu .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6 {
    display: none;
  }
  .menu {
    flex-wrap: wrap;
  }
  .div7 {
    display: block;
    transform: translateX(-40px);
  }
}
