* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
}

nav {
  background: #141416;
  display: flex;
  color: white;
  align-items: center;
  font-family: SanFrancisco;
  border-bottom: 1px solid grey ;
  height: 90px;
}

nav img {
  height: 40px;
  width: 40px;
  margin-left: 100%;
}

.menu {
  display: flex;
  gap: 2%;
  width: 100%;
  margin-left: 70%;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.app-description {
  background: #000000;
  width: auto;
  height: 100vh;
}
.phones img{
  height: 100px;
  width: 100px;
  
}

@font-face {
  font-family: SanFrancisco;
  src: url(Fonts/SFNSDisplay-Black.otf);
}

@media screen and (max-width: 1380px) {
  .menu {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }
}